
/* .header{
    margin-top: 10px;
} */
.logo{
	font-family: 'Source Serif Pro', serif;
	text-decoration: none;
	margin-right: 150px;
}
a .logo{
	text-decoration: none;
}
#one{
	color: white;
}
#two{
	color: black;
}
.card-body{
	background-color: black;
}
#photo{
    width: 100%;
    height: auto;
}
.container1{
    width:100%;
}
#ul {
    padding: 0;
	list-style: none;
	margin: 30px auto;
}
#ul li {
    display: inline-block;
	margin: 0 10px 0 0;
}
#ul li a {
    padding: 1rem;
    background-color: white;
    border-radius: 60%;
    text-align: center;
    width: 60px;
    height: 60px;
		font-size: 20px;
		font-family: 'Source Serif Pro', serif;
    display: inline-block;
    line-height:0px;
}
#ul li a i {
    color: black;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition:  0.5s;
}
#ul li a:hover i {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: 'Source Serif Pro', serif;
	font-size: 100%;
  float: right;
  margin-left: 250px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
    padding-left: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
/* cards */

.section{
	margin-left: 85px;
}


/* footer icons */

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
  }
  
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
	list-style: none;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
	and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
	width: 50px;
	height: 50px;
	line-height: 40px;
	margin: 0 10px;
	
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid #D8E2DC;
	float: left;
	transition: all 0.5s ease;
	display: center;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
	color: #D8E2DC;
	transition: all 0.5s ease;
	/* margin-bottom: 10px; */
	display: center;
  }
 
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
	to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  .wrapper ul li:hover.facebook {
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper ul li:hover.twitter {
	border: 5px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper ul li:hover.instagram {
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  /* google */
  .wrapper ul li:hover.google {
	border: 5px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  /* whatsapp */
  .wrapper ul li:hover.whatsapp {
	border: 5px solid #4dc247;
	box-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-whatsapp {
	color: #4dc247;
	text-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  
  /* media queries */
  
  @media screen and (max-width: 640px){
	.wrapper {
		width: 350px;
	}
	/* .wrapper ul li{
		margin-top: 10px;
	} */
	.wrapper ul li.google{
		margin-left: 60px;
	}
  }
  
  
  @media screen and (max-width: 340px){
	.wrapper {
		width: 150px;
	}
	.wrapper ul li{
		margin-bottom:15px;
	}
	.wrapper ul li.google{
		margin-left: 15px;
	}
  }
  .footer-text{
	  margin-bottom: 150px;
	  color: white;
  }
  

/* Testimonial */


@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: black;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
/* Demo purposes only */
body {
  background-color: #212121;
}

	
	



	
